*{
  box-sizing: border-box;
}
  
.App {
  text-align: center;
}

/* align things center*/


/*Home Page*/
.homePage, .createPage, .joinPage {
  width: 100vw;
  height: 100vh;
}

body{
  background-color: black;
}

.Room input{
  background-color: white; /* background */
  border: 2px solid grey !important; /* border */
  border-radius: 20px;
  color: black; /* text color */
  font-family: 'proxima-nova', sans-serif;
  font-weight: 400; /*weight of text*/
  text-align: center;
  cursor: auto;
  padding: 10px 24px; /* Some padding */
  cursor: auto; /* Pointer/hand icon */
  width: 200px;
  margin: 10px auto 0px auto;
  display:block;
}

.Room input:active{
  outline-color: none !important;
  box-shadow: none !important;
}

.joinPage input {
  background-color: white; /* background */
  border: 2px solid white; /* border */
  border-radius: 30px;
  color: black; /* text color */
  font-family: 'proxima-nova', sans-serif;
  font-weight: 400; /*weight of text*/
  font-size: 20px;
  text-align: center;
  cursor: auto;
  padding: 10px 24px; /* Some padding */
  cursor: auto; /* Pointer/hand icon */
  width: 300px;
  height: 50px;
  margin: 10px auto 0px auto;
  display:block;
}



.btn-group #join_room{
  background-color: green;
  border-radius: 20px;
  border: 2px solid green; /* border */
  color: white;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 600; /*weight of text*/
  font-size: 20px;
  padding: center; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 100px;
  height: 40px;
  margin: 10px auto 0px auto;
  display:block;
  float: center;

}

.btn-group .roomAction {
  background-color:green; /* background */
  border: 2px solid green; /* border */
  border-radius: 35px;
  color: white; /* text color */
  font-family: 'proxima-nova', sans-serif;
  font-weight: 600; /*weight of text*/
  font-size: 20px;
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 250px;
  height: 50px;
  margin: 10px auto 0px auto;
  display:block;

}

.btn-group button:hover{
  opacity: 0.9;
}

/* align the place holder text to center*/
::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}

.center {
  margin: auto;
  width: 50%;
  /* padding: 10px; */
  text-align: center;
  position: relative;
}

.fromtop{
  position: relative;
  top: 30%; /* 30% of the parent element*/
}

.text_style{
  color: white;
  font-family: 'proxima-nova', sans-serif;
  cursor: default;
}
.homePage #welcome {
  font-size: 40px;
}
.highlight{
  font-weight: 600;
}


/*footer*/
footer{
  background-color: black;
  height: 5vh;
  width: 100%;
}

.fa {
  padding: 10px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  width: 100px;
  margin: 0 auto;
  display: block;
}

.fa:hover {
    opacity: 0.7;
}


