*{
  box-sizing: border-box;
}
  
.App {
  text-align: center;
}

/*Widths and heights of Pages for the fromtop and frombottom class to work*/
.homePage, .createPage, .joinPage, .expirePage, .maintainancePage, .noConnectionPage, .RoomPage {
  width: 100vw;
  height: 100vh;
}

.instruction{
  width: 100vw;
  height: 100 vh;
  line-height: 200%;
}

.developed_by{
  line-height: 150%;
}

body{
  background-color: black;
}


.Room input{
  background-color: white; /* background */
  border: 2px solid grey !important; /* border */
  border-radius: 20px;
  color: black; /* text color */
  font-family: 'proxima-nova', sans-serif;
  font-weight: 400; /*weight of text*/
  text-align: center;
  padding: 10px 24px; /* Some padding */
  cursor: auto; 
  width: 200px;
  margin: 10px auto 0px auto;
  display:block;
}

.btn-group input {
  background-color: white; /* background */
  border: 2px solid white; /* border */
  border-radius: 30px;
  color: black; /* text color */
  font-family: 'proxima-nova', sans-serif;
  font-weight: 400; /*weight of text*/
  font-size: 20px;
  text-align: center;
  padding: center; /* Some padding */
  cursor: auto; /* Pointer/hand icon */
  margin: 10px auto 0px auto;
  display:block;
}

.searchbarId{
  width: 300px;
  height: 50px;
}


.btn-group #join_room{
  background-color:#1db954;
  border-radius: 20px;
  border: 2px solid #1db954; /* border */
  color: white;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 600; /*weight of text*/
  font-size: 20px;
  padding: center; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 100px;
  height: 40px;
  margin: 10px auto 0px auto;
  display:block;
  float: center;

}

.btn-group .roomAction {
  background-color:#1db954; /* background */
  border: 2px solid #1db954; /* border */
  border-radius: 35px;
  color: white; /* text color */
  font-family: 'proxima-nova', sans-serif;
  font-weight: 600; /*weight of text*/
  font-size: 20px;
  padding: center; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 20vw;
  height: 7vh;
  margin: 10px auto 0px auto;
  display:block;

}

.btn-group button:hover{
  opacity: 0.8;
}

/* align the place holder text to center*/
::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}

.center {
  margin: auto;
  width: 50%;
  /* padding: 10px; */
  text-align: center;
  position: relative;
}

.fromtop{
  position: relative;
  top: 30%; /* 30% of the parent element*/
}
.frombottom{
  position: relative;
  top: 50%;
}
.text_style{
  color: white;
  font-family: 'proxima-nova', sans-serif;
  cursor: default;
}
p Link,a {
  color: white;
  font-family: 'proxima-nova', sans-serif;
  cursor: pointer !important;
} 
p Link,a:hover{
  color: #1db954
}

.homePage #welcome {
  font-size: 40px;
}

.highlight{
  font-weight: 600;
}

/*for smartphones portrait
540px is the largest width of device in portrait mode - Surface Duo*/
@media screen and (max-width: 540px) and (orientation:portrait){
  
  .btn-group .roomAction {
    background-color:#1db954; /* background */
    border: 2px solid #1db954; /* border */
    border-radius: 20px;
    color: white; /* text color */
    font-family: 'proxima-nova', sans-serif;
    font-weight: 400; /*weight of text*/
    font-size: 20px;
    padding: center; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 50vw;
    height: 7vh;
    margin: 10px auto 0px auto;
    display:block;
  }

  .fromtop{
    position: relative;
    top: 25%; 
  }

  .frombottom{
    position: relative;
    top: 45%;
  }

  .homePage #welcome  {
    font-size: 30px;
  }

  .instruction h1, .developed_by h1 {
    font-size: 25px;
  }

  .expirePage #Expire {
    font-size: 30px;
  }

  .maintainancePage #Maintanance {
    font-size: 30px;
  }

  .noConnectionPage #noConnection {
    font-size: 30px;
  }
  
  .searchbarId{
    width: 50vw;

  }

}

/*for smartphones landscape
the smallest width is 568px - iphone 4
the largest width is 896px - iphone 11, iphone XS MAX*/
@media screen and (min-width: 568px) and (max-width: 896px) and (orientation:landscape){
  
  .btn-group .roomAction {
    background-color:#1db954; /* background */
    border: 2px solid #1db954; /* border */
    border-radius: 20px;
    color: white; /* text color */
    font-family: 'proxima-nova', sans-serif;
    font-weight: 400; /*weight of text*/
    font-size: 20px;
    padding: center; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 30vw;
    height: 13vh;
    margin: 10px auto 0px auto;
    display:block;
  }

  .fromtop{
    position: relative;
    top: 20%; 
  }

  .frombottom{
    position: relative;
    top: 32%;
  }

  .homePage #welcome  {
    font-size: 30px;
  }

  .instruction h1, .developed_by h1 {
    font-size: 25px;
  }

  .expirePage #Expire {
    font-size: 30px;
  }

  .maintainancePage #Maintanance {
    font-size: 30px;
  }

  .noConnectionPage #noConnection {
    font-size: 30px;
  }
  
  .searchbarId{
    width: 50vw;

  }

}


/*for tablets portrait
the smallest width is 768px - Ipad Mini (Rectina)
the largest width is 1024px - Ipad Pro */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation:portrait){
  .btn-group .roomAction {
    background-color:#1db954; /* background */
    border: 2px solid #1db954; /* border */
    border-radius: 25px;
    color: white; /* text color */
    font-family: 'proxima-nova', sans-serif;
    font-weight: 400; /*weight of text*/
    font-size: 28px;
    padding: center; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 35vw;
    height: 6vh;
    margin: 10px auto 0px auto;
    display:block;
  }
  .homePage #welcome  {
    font-size: 50px;
  }

  .homePage #about, .homePage #feedback{
    font-size: 25px;
  }

  .searchbarId{
    width: 400px;
    height: 60px;
  }

  .btn-group #join_room{
    background-color:#1db954;
    border-radius: 20px;
    border: 2px solid #1db954; /* border */
    color: white;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 600; /*weight of text*/
    font-size: 20px;
    padding: center; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 150px;
    height: 50px;
    margin: 10px auto 0px auto;
    display:block;
    float: center;
  
  }
}


/*for tablets landscapes
the smallest width is 1024px - Ipad Mini (Rectina)
the largest width is 1366px - Ipad Pro*/
@media screen and (min-width: 1024px) and (max-width: 1366px) and (orientation:landscape){
  .btn-group .roomAction {
    background-color:#1db954; /* background */
    border: 2px solid #1db954; /* border */
    border-radius: 30px;
    color: white; /* text color */
    font-family: 'proxima-nova', sans-serif;
    font-weight: 400; /*weight of text*/
    font-size: 30px;
    padding: center; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 30vw;
    height: 9vh;
    margin: 10px auto 0px auto;
    display:block;
  }
  .homePage #welcome  {
    font-size: 50px;
  }

  .homePage #about, .homePage #feedback{
    font-size: 25px;
  }
  .searchbarId{
    width: 400px;
    height: 60px;
  }

  .btn-group #join_room{
    background-color:#1db954;
    border-radius: 20px;
    border: 2px solid #1db954; /* border */
    color: white;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 600; /*weight of text*/
    font-size: 20px;
    padding: center; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 150px;
    height: 50px;
    margin: 10px auto 0px auto;
    display:block;
    float: center;
  
  }
}






