*{
  box-sizing: border-box;
}
  
.App {
  text-align: center;
}

/* align things center*/


/*Home Page*/
.homePage, .createPage, .joinPage {
  width: 100vw;
  height: 100vh;
}

body{
  background-color: black;
}

.btn-group button,input{
  background-color: white; /* background */
  border: 2px solid grey; /* border */
  border-radius: 4px;
  color: black; /* text color */
  font-family: 'proxima-nova', sans-serif;
  font-weight: 400; /*weight of text*/
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 200px;
  margin: 10px auto 0px auto;
  display:block;
}

.btn-group button:hover{
  opacity: 0.9;
}

/* align the place holder text to center*/
::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}

/* align the input to the center*/
input {
  text-align: center;
  cursor: auto;
}

.center {
  margin: auto;
  width: 50%;
  /* padding: 10px; */
  text-align: center;
  position: relative;
}

.fromtop{
  position: relative;
  top: 30%; /* 30% of the parent element*/
}

.text_style{
  color: white;
  font-family: 'proxima-nova', sans-serif;
  cursor: default;
}

.highlight{
  font-weight: 600;
}


/*footer*/
footer{
  background-color: black;
  height: 5vh;
  width: 100%;
}

.fa {
  padding: 10px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  width: 100px;
  margin: 0 auto;
  display: block;
}

.fa:hover {
    opacity: 0.7;
}


