*{
  box-sizing: border-box;
}
  
.App {
  text-align: center;
}

a{
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar{
  background-color: #BFD9C6;
  margin: 0;
  padding: 0;
  height: 5vh;
}

li{
  display: inline;
  padding: 8px;
  text-align: center;
  text-decoration: none;
}

li:hover{
  background-color: #D8E9D8;
}

button.login{
    color:#FFFFFF;
    background-color: green;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    font-family:'Roboto',sans-serif;
    font-size: 30px;
    font-weight:300;
    text-align:center;
    transition: all 0.2s;
}

button.login:hover{
    background-color: chartreuse;
}

/*Home Page*/
.homePage{
  width: 100vh;
  height: 85vh;
}

/*footer*/
footer{
  background-color: black;
  height: 5vh;
  width: 100%;
}

.fa {
  padding: 10px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  width: 100px;
  margin: 0 auto;
  display: block;
}

.fa:hover {
    opacity: 0.7;
}
