*{
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
}

/*Room flexbox design*/
.Room{
  text-align: center;
}

.ColumnFlex {
  display: flex;
  flex-direction: column;
  
}

.RowFlex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.RowFlexReverse{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.Room-row1{
  order: 1;
  flex-grow: 1 ;
  background-image: linear-gradient(#6BE193, #3B7775);
  border-radius: 20px;
  margin-top: 10px

}
.Room-row2{
  order: 2;
  flex-grow: 1;
  background-image: linear-gradient(#3B7775, #21315F);
  border-radius: 20px;
  margin-top: 10px
}
.Room-row3{
  order: 3;
  flex-grow: 1;
}

/*room info*/
.room-info{
  flex-grow: 4;
  cursor: default;
  border-radius: 4px;
}

.room-info .host{
  color: white;
  font-size: 20px;
  margin-top: 27px;
}

/*display playlist*/
.display-playlist{
  margin: auto;
  font-size: 20px;
  font-family: 'proxima-nova', sans-serif;
  color: white

}

/*now playing*/
.now-playing {
  color: #fff;
  position: relative;
  font-size: 1.5em;
}
.now-playing__bd {
  padding-left: 30px;
}
.now-playing__track-name {
  font-size: 1.4em;
  padding-top: 0.8em;
  cursor: default;
  float: auto; 

}
.now-playing__artist-name {
  font-size: 1em;
  padding-bottom: 2.5em;
  padding-top: 0.5em;
  cursor: default;
  float: auto; 

}
.now-playing__progress_bar {
  bottom: 0;
  background-color: gainsboro;
  height: 10px;
  position: absolute;
  width: 100%;
  border-radius: 20px;
}
.media,
.media__bd {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}
.media__img {
  padding: 0px;
  float: left;
  margin: 10px;
}

.media__img img{
  width: 170px;
  height: 170px;
  border-radius: 20px;
}


.room_id span{
  background-color: #21315f;
  font-size: 30px;
  border-radius: 10px;
  padding: 5px;
}

/*queue */
.queue-container{
  order: 2;
  /* flex-grow: 6; */
  width: 65vw;
}

.queue-item img{
  border-radius: 2px;
}

.queue-item__track-name {
  font-size: 1.2em;
}

.queue-item__artist-name {
  font-size: 0.8em;
}

.vote-btn{
  background-color: white;
  padding: 8px 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;  
  color: black;
  text-align: center;
}

.like{
  border: 2px solid #6BE193;
  border-radius: 20px;
  width: 75px;
}

.like:hover, .liked {
  background-image: linear-gradient(#6BE193, #3B7775);
}

.dislike{
  border: 2px solid gray;
  border-radius: 20px;
}

.dislike:hover, .disliked{
  background-color: grey;
  color: white;
}

.queue-container #coming_up{
  margin-top: 12px;
  font-size: 1.2em;
}

/*searchbar */
.searchbarPlaylist{
  width: 35vw;
}

.searchbarTrack{
  order: 1;
  width: 35vw;
}

.suggestionList{
  list-style-type: square;
  margin: 0;
  padding: 0;
  background-color: #333333;
}

.suggestionItem {
  display: block;
  color: white;
  padding: 5px;
}
.suggestionItem:hover , .suggestionItemAt{
  background-color: #111111;
}

.suggestionItemAt{
  opacity: 0.6;
}

#searchTrack{
  margin-top: 10px;
}

/*using media querries for different screen width*/


/*for smartphones*/
@media screen and (max-width: 768px){
  .media__img img{
    width: 70px;
    height: 70px
  }
  .now-playing__track-name{
    font-size: 1em;
  }
  .now-playing__artist-name{
    font-size: 0.6em;
  }
  .now-playing {
    color: #fff;
    position: relative;
    font-size: 1em;
  }
  .room-info .host{
    font-size: 15px;
    margin-top: 20px;
  }
  .room_id span{
    font-size: 25px;
  }
  .display-playlist{
    margin: auto;
    font-size: 15px;
    font-family: 'proxima-nova', sans-serif;
    color: white
  
  }

  .searchbarPlaylist{
    width: 100vw;
  }

  .searchbarTrack{
    order: 1;
    width: 100vw;
  }

  .queue-container #coming_up{
    margin-top: 10px;
    font-size: 1.2em;
  }

  .queue-container{
    order: 2;
    width: 100vw;
  }
}

/*for tablets*/
@media screen and (min-width: 769px) and (max-width: 948px){
  .searchbarPlaylist{
    width: 30vw;
  }
  .searchbarTrack{
    order: 1;
    width: 30vw;
  }

  .queue-container{
    order: 2;
    width: 70vw;
  }

  .queue-container #coming_up{
    margin-top: 10px;
    font-size: 1.2em;
  }

  #queue{
    margin-left: auto;
    margin-right: auto;
  }
  
}


