*{
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
}

/*Room flexbox design*/
.Room{
  text-align: center;
}

.ColumnFlex {
  display: flex;
  flex-direction: column;
}

.RowFlex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.RowFlexReverse{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.Room-row1{
  order: 1;
  background-color: #88A2AA;
}
.Room-row2{
  order: 2;
  /*background-color: #ADA296;*/
  background-color: #424d58;
}
.Room-row3{
  order: 3;
}

/*room info*/
.room-info{
  flex-grow: 4;
  cursor: default;
}

/*display playlist*/
.display-playlist{
  padding: 5px 5px;
  margin: 0px;
}

/*now playing*/
.now-playing {
  color: #fff;
  position: relative;
  font-size: 1.5em;
}
.now-playing__bd {
  padding-left: 30px;
}
.now-playing__track-name {
  font-size: 2em;
  padding-top: 0.8em;
  cursor: default;
}
.now-playing__artist-name {
  font-size: 1.2em;
  padding-bottom: 2.5em;
  padding-top: 0.5em;
  cursor: default;
}
.now-playing__progress_bar {
  bottom: 0;
  background-color: gainsboro;
  height: 10px;
  position: absolute;
  width: 100%;
}
.media,
.media__bd {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}
.media .media__img {
  padding: 0px;
  float: left;
  margin: 10px;
}

/*queue */
.queue-container{
  order: 2;
  flex-grow: 3;
}

.queue-item__track-name {
  font-size: 1.2em;
}

.queue-item__artist-name {
  font-size: 0.8em;
}

.vote-btn{
  background-color: white;
  padding: 8px 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;  
  color: black;
  text-align: center;
}

.like{
  border: 2px solid green;
  border-radius: 2px;
}

.like:hover, .liked {
  background-color: green;
}

.dislike{
  border: 2px solid gray;
  border-radius: 2px;
}

.dislike:hover, .disliked{
  background-color: grey;
  color: white;
}

#coming_up{
  margin-top: 20px;
}

/*searchbar */
.searchbarPlaylist{
  width: 400px;
}

.searchbarTrack{
  order: 1;
  width: 400px;
}

.suggestionList{
  list-style-type: square;
  margin: 0;
  padding: 0;
  background-color: #333333;
}

.suggestionItem {
  display: block;
  color: white;
  padding: 5px;
}
.suggestionItem:hover{
  background-color: #111111;
}

#searchTrack{
  margin-top: 10px;
}
