*{
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
}

/*Room flexbox design*/
.Room{
  text-align: center;
}

.ColumnFlex {
  display: flex;
  flex-direction: column;
  
}

.RowFlex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.RowFlexReverse{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.Room-row1{
  order: 1;
  flex-grow: 1 ;
  background-image: linear-gradient(#6BE193, #3B7775);
  border-radius: 20px;
  margin-top: 10px
}
.Room-row2{
  order: 2;
  flex-grow: 1;
  background-image: linear-gradient(#3B7775, #21315F);
  border-radius: 20px;
  margin-top: 10px
}
.Room-row3{
  order: 3;
  flex-grow: 1;
}

/*room info*/
.room-info{
  flex-grow: 4;
  cursor: default;
  border-radius: 4px;
}

.room-info .host{
  color: white;
  font-size: 20px;
  margin-top: 27px;
}

/*display playlist*/
.display-playlist{
  margin: auto;
  font-size: 20px;
  font-family: 'proxima-nova', sans-serif;
  color: white

}

/*now playing*/
.now-playing {
  color: #fff;
  position: relative;
  font-size: 1.5em;
}
.now-playing__bd {
  padding: center;
}
.now-playing__track-name {
  font-size: 1.4em;
  padding-top: 0.8em;
  cursor: default;
  float: auto; 
}
.now-playing__artist-name {
  font-size: 1em;
  padding-bottom: 2.5em;
  padding-top: 0.5em;
  cursor: default;
  float: auto; 

}
.now-playing__progress_bar {
  bottom: 0;
  background-color: gainsboro;
  height: 10px;
  position: absolute;
  width: 100%;
  border-radius: 20px;
}
.media,
.media__bd {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}
.media__img {
  padding: 0px;
  float: left;
  margin: 10px;
}

.media__img img{
  width: 170px;
  height: 170px;
  border-radius: 20px;
}


.room_header #room_id {
  background-color: #21315f;
  font-size: 30px;
  border-radius: 10px;
  padding: 5px;
}

/*queue */
.queue-container{
  order: 2;
  flex-grow: 1; 
  /* width: 65vw; */
}

.queue-container #play_next{
  background-color: #1db954;
  border: #1db954;
  border-radius: 30px;
  width: 130px;
  margin-top: 10px;
  font-size: 1.3em;
  padding: 8px 15px 8px 15px;
  cursor: pointer;
}

.queue-container #info {
  margin-top: 8px;
  margin-left: 15px;
  font-size: 1.3em;
  cursor: pointer;
}

.queue-container #info:hover {
  color: #6BE193;
}

.queue-container #instruction {
  margin-top: 10px;
}

.queue-container #play_next:hover {
  opacity: 0.8;
}

.queue-item img{
  border-radius: 2px;
}

.queue-item__track-name {
  font-size: 1.2em;
}

.queue-item__artist-name {
  font-size: 0.8em;
}

#report-cnt{
  color: red;
}

.vote-btn{
  background-color: white;
  padding: 6px 10px;
  margin: 4px 1px;
  transition-duration: 0.4s;
  cursor: pointer;  
  color: black;
  text-align: center;
}

.like{
  color: white;
  font-size: 1.2em;
}



.like:hover, .liked {
  color: #6BE193;
  font-size: 1.2em;
}

.dislike{
  color: white;
  font-size: 1.2em;
}

.dislike:hover, .disliked{
  color:#6BE193;
  font-size: 1.2em;
}

.report{
  color: white;
  font-size: 1.2em;
}

.report:hover, .reported{
  color:red;
  font-size: 1.2em;
}

.queue-container #coming_up{
  margin-top: 12px;
  font-size: 1.2em;
}

/*searchbar 
fix the width to avoid it to be unexpectedly floating when users input information */
.searchbarPlaylist{
  width: 450px;
}

.searchbarTrack{
  order: 1;
  width: 450px;
}

.suggestionList{
  list-style-type: square;
  margin: 0;
  padding: 0;
  background-color: #333333;
}

.suggestionItem {
  display: block;
  color: white;
  padding: 5px;
}
.suggestionItem:hover , .suggestionItemAt{
  background-color: #111111;
}

.suggestionItemAt{
  opacity: 0.6;
}

#searchTrack{
  margin-top: 10px;
}

/*using media querries for different screen width*/


/*for smartphones portrait
540px is the largest width of device in portrait mode - Surface Duo
360px is the smallest width of device in portrait mode - Galaxy S5
Remove orientation to avoid it to be floated unexpectedly on smartphone when users input info*/
@media screen and (max-width: 540px){
  .media__img img{
    width: 70px;
    height: 70px;
    margin-bottom: 3px; 
  }
  .now-playing__track-name{
    font-size: 1em;
  }
  .now-playing__artist-name{
    font-size: 0.6em;
  }
  .now-playing {
    color: #fff;
    position: relative;
    font-size: 1em;
  }
  .room-info .host{
    font-size: 15px;
    margin-top: 10px;
  }
  .room_header #room_id{
    background-color: #21315f;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
  }
  .display-playlist{
    margin-top: -5px;
    font-size: 15px;
    font-family: 'proxima-nova', sans-serif;
    color: white
  
  }
  .searchbarPlaylist{
    width: 100vw;
  }

  .searchbarTrack{
    order: 1;
    width: 100vw;
  }

  .queue-container{
    order: 2;
    width: 100vw;
  }

  .queue-container #coming_up{
    margin-top: 10px;
    font-size: 1.2em;
  }

  .queue-container #play_next {
    font-size: 1em;
    width: 100px;
    padding: 8px 5px 8px 5px
  }
  .queue-container #info {
    margin-top: 8px;
    margin-left: 10px;
    font-size: 1em;
    cursor: pointer;
  }
  .queue-item__track-name {
    font-size: 1em;
  }
  
  .queue-item__artist-name {
    font-size: 0.6em;
  }
  
}

/*for smartphones landscape
the smallest width is 568px - iphone 4
the largest width is 896px - iphone 11, iphone XS MAX*/
@media screen and (min-width: 568px) and (max-width: 896px) and (orientation:landscape){
  .media__img img{
    width: 70px;
    height: 70px;
    margin-bottom: 3px; 
  }
  .now-playing__track-name{
    font-size: 1em;
  }
  .now-playing__artist-name{
    font-size: 0.6em;
  }
  .now-playing {
    color: #fff;
    position: relative;
    font-size: 1em;
  }
  .room-info .host{
    font-size: 15px;
    margin-top: 10px;
  }
  .room_header #room_id{
    background-color: #21315f;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
  }
  .display-playlist{
    margin-top: -5px;
    font-size: 15px;
    font-family: 'proxima-nova', sans-serif;
    color: white
  
  }

  .searchbarPlaylist{
    width: 100vw;
  }

  .searchbarTrack{
    order: 1;
    width: 100vw;
  }

  .queue-container{
    order: 2;
    width: 100vw;
  }

  .queue-container #coming_up{
    margin-top: 10px;
    font-size: 1.2em;
  }

  .queue-container #play_next {
    font-size: 1em;
    width: 100px;
    padding: 8px 5px 8px 5px
  }
  .queue-container #info {
    margin-top: 8px;
    margin-left: 10px;
    font-size: 1em;
    cursor: pointer;
  }

}

/*for tablets*/
@media screen and (min-width: 768px) and (max-width: 1366px){
  .searchbarPlaylist{
    width: 30vw;
  }
  .searchbarTrack{
    order: 1;
    width: 30vw;
  }

  .queue-container{
    order: 2;
    width: 70vw;
  }

  .queue-container #coming_up{
    margin-top: 10px;
    font-size: 1.2em;
  }

  #queue{
    margin-left: auto;
    margin-right: auto;
  }
  
}


